In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import re
from datetime import date
import holidays
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor
from sklearn import *

In [49]:
## Christine's Directory
mydir = "C:/users/chrdo/Downloads/"
WegmansData = mydir + "WegmansFile20210711.csv"
WFD = pd.read_csv(WegmansData)

## Adit's Directory
#mydir = "/Users/Adit/Desktop/BANA_785/"
#WegmansData = mydir + "WegmansFinalMerged.csv"
#WFD = pd.read_csv(WegmansData)

In [54]:
WFD.head(5)

,TRANSACTION_KEY,DATE_KEY,CUSTOMER_ID,ITEM_NBR,UNITS,WEIGHT,SALES,PPU,LOCATION_NBR,INSTACART_IND,...,year,isWeekend,DOM_DEPT,DOM_DEPT_FREQ,DOM_CAT,DOM_CAT_FREQ,DOM_CLASS,DOM_CLASS_FREQ,holiday,keyCOVIDdescriptions
337807,-8.420000e+18,2019-01-06,2076,743597,1,0.0,14.39,14.39,66,0,...,2019,True,GROCERY,670,CULTURED DAIRY.YOGURT,79,CULTURED DAIRY.GREEK - STRAINED,48,False,-
646223,7.520000e+18,2019-01-06,2411,432274,1,0.0,3.95,3.95,4,0,...,2019,True,GROCERY,670,CULTURED DAIRY.YOGURT,79,CULTURED DAIRY.GREEK - STRAINED,48,False,-
760268,6.300000e+18,2019-01-06,27,616704,2,0.0,13.67,6.84,3,0,...,2019,True,GROCERY,670,CULTURED DAIRY.YOGURT,79,CULTURED DAIRY.GREEK - STRAINED,48,False,-
55799,-4.770000e+18,2019-01-06,2042,368734,1,0.0,4.53,4.53,20,0,...,2019,True,GROCERY,670,CULTURED DAIRY.YOGURT,79,CULTURED DAIRY.GREEK - STRAINED,48,False,-
237947,4.300000e+18,2019-01-06,720,489232,1,0.0,0.71,0.71,66,0,...,2019,True,GROCERY,670,CULTURED DAIRY.YOGURT,79,CULTURED DAIRY.GREEK - STRAINED,48,False,-

In [50]:
WFD.dtypes

TRANSACTION_KEY            float64
DATE_KEY                    object
CUSTOMER_ID                  int64
ITEM_NBR                     int64
UNITS                        int64
WEIGHT                     float64
SALES                      float64
 PPU                        object
LOCATION_NBR                 int64
INSTACART_IND                int64
ITEM_DESCRIPTION            object
PRODUCT_HIERARCHY           object
DEPARTMENT_NAME             object
CATEGORY_NAME               object
CLASS_NAME                  object
DEPT_CAT                    object
DEPT_CLASS                  object
CAT_CLASS                   object
IS_ORGANIC                   int64
IS_FAMILYPACK                int64
IS_WEGMANSBRAND              int64
HOUSEHOLD_ID                 int64
HOH_AGE                      int64
HH_INCOME                  float64
HH_CHILDREN                  int64
cluster                      int64
DEPTNAME2                   object
WEGMANS_ORGANIC              int64
WEGMANS_FAMPACK              int64
IS_BULK                      int64
Yesterday Sales_cat        float64
Week Ago Sales_cat         float64
Yesterday Sales_deptcat    float64
Week Ago Sales_deptcat     float64
quarter                      int64
weekno                       int64
dayofweek                    int64
year                         int64
isWeekend                     bool
DOM_DEPT                    object
DOM_DEPT_FREQ                int64
DOM_CAT                     object
DOM_CAT_FREQ                 int64
DOM_CLASS                   object
DOM_CLASS_FREQ               int64
holiday                       bool
keyCOVIDdescriptions        object
dtype: object

In [51]:
WFD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1037406 entries, 0 to 1037405
Data columns (total 47 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   TRANSACTION_KEY          1037406 non-null  float64
 1   DATE_KEY                 1037406 non-null  object
 2   CUSTOMER_ID              1037406 non-null  int64
 3   ITEM_NBR                 1037406 non-null  int64
 4   UNITS                    1037406 non-null  int64
 5   WEIGHT                   1037406 non-null  float64
 6   SALES                    1037406 non-null  float64
 7    PPU                     1037406 non-null  object
 8   LOCATION_NBR             1037406 non-null  int64
 9   INSTACART_IND            1037406 non-null  int64
 10  ITEM_DESCRIPTION         1037406 non-null  object
 11  PRODUCT_HIERARCHY        1037406 non-null  object
 12  DEPARTMENT_NAME          1037406 non-null  object
 13  CATEGORY_NAME            1037406 non-null  object
 14  CLASS_NAME               1037406 non-null  object
 15  DEPT_CAT                 1037406 non-null  object
 16  DEPT_CLASS               1037406 non-null  object
 17  CAT_CLASS                1037406 non-null  object
 18  IS_ORGANIC               1037406 non-null  int64
 19  IS_FAMILYPACK            1037406 non-null  int64
 20  IS_WEGMANSBRAND          1037406 non-null  int64
 21  HOUSEHOLD_ID             1037406 non-null  int64
 22  HOH_AGE                  1037406 non-null  int64
 23  HH_INCOME                1037406 non-null  float64
 24  HH_CHILDREN              1037406 non-null  int64
 25  cluster                  1037406 non-null  int64
 26  DEPTNAME2                1037406 non-null  object
 27  WEGMANS_ORGANIC          1037406 non-null  int64
 28  WEGMANS_FAMPACK          1037406 non-null  int64
 29  IS_BULK                  1037406 non-null  int64
 30  Yesterday Sales_cat      1036837 non-null  float64
 31  Week Ago Sales_cat       1033549 non-null  float64
 32  Yesterday Sales_deptcat  1036815 non-null  float64
 33  Week Ago Sales_deptcat   1033409 non-null  float64
 34  quarter                  1037406 non-null  int64
 35  weekno                   1037406 non-null  int64
 36  dayofweek                1037406 non-null  int64
 37  year                     1037406 non-null  int64
 38  isWeekend                1037406 non-null  bool
 39  DOM_DEPT                 1037406 non-null  object
 40  DOM_DEPT_FREQ            1037406 non-null  int64
 41  DOM_CAT                  1037406 non-null  object
 42  DOM_CAT_FREQ             1037406 non-null  int64
 43  DOM_CLASS                1037406 non-null  object
 44  DOM_CLASS_FREQ           1037406 non-null  int64
 45  holiday                  1037406 non-null  bool
 46  keyCOVIDdescriptions     1037406 non-null  object
dtypes: bool(2), float64(8), int64(22), object(15)
memory usage: 358.1+ MB

In [52]:
WFD = WFD.sort_values(['DATE_KEY','CATEGORY_NAME'])

In [56]:
WFD['DATE_KEY'] = pd.to_datetime(WFD['DATE_KEY'],format='%Y-%m-%d')

In [57]:
WFD.head(5)

,TRANSACTION_KEY,DATE_KEY,CUSTOMER_ID,ITEM_NBR,UNITS,WEIGHT,SALES,PPU,LOCATION_NBR,INSTACART_IND,...,year,isWeekend,DOM_DEPT,DOM_DEPT_FREQ,DOM_CAT,DOM_CAT_FREQ,DOM_CLASS,DOM_CLASS_FREQ,holiday,keyCOVIDdescriptions
337807,-8.420000e+18,2019-01-06,2076,743597,1,0.0,14.39,14.39,66,0,...,2019,True,GROCERY,670,CULTURED DAIRY.YOGURT,79,CULTURED DAIRY.GREEK - STRAINED,48,False,-
646223,7.520000e+18,2019-01-06,2411,432274,1,0.0,3.95,3.95,4,0,...,2019,True,GROCERY,670,CULTURED DAIRY.YOGURT,79,CULTURED DAIRY.GREEK - STRAINED,48,False,-
760268,6.300000e+18,2019-01-06,27,616704,2,0.0,13.67,6.84,3,0,...,2019,True,GROCERY,670,CULTURED DAIRY.YOGURT,79,CULTURED DAIRY.GREEK - STRAINED,48,False,-
55799,-4.770000e+18,2019-01-06,2042,368734,1,0.0,4.53,4.53,20,0,...,2019,True,GROCERY,670,CULTURED DAIRY.YOGURT,79,CULTURED DAIRY.GREEK - STRAINED,48,False,-
237947,4.300000e+18,2019-01-06,720,489232,1,0.0,0.71,0.71,66,0,...,2019,True,GROCERY,670,CULTURED DAIRY.YOGURT,79,CULTURED DAIRY.GREEK - STRAINED,48,False,-

In [65]:
WFD1 = WFD.groupby([pd.Grouper(key='DATE_KEY',freq='d'),'CATEGORY_NAME'])['SALES'].sum().reset_index()

In [66]:
WFD1['Yesterday Sales_cat'] = WFD.groupby(['CATEGORY_NAME'])['SALES'].shift()
WFD1['Week Ago Sales_cat'] = WFD.groupby(['CATEGORY_NAME'])['SALES'].shift(7)
WFD1['Yesterday Sales_deptcat'] = WFD.groupby(['DEPT_CAT'])['SALES'].shift()
WFD1['Week Ago Sales_deptcat'] = WFD.groupby(['DEPT_CAT'])['SALES'].shift(7)
WFD1['quarter'] = WFD['DATE_KEY'].dt.quarter
WFD1['weekno'] = WFD['DATE_KEY'].dt.week
WFD1['dayofweek'] = WFD['DATE_KEY'].dt.weekday
WFD1['year'] = WFD['DATE_KEY'].dt.year

In [67]:
WFD1.info

<bound method DataFrame.info of          DATE_KEY                CATEGORY_NAME  SALES  Yesterday Sales_cat  \
0      2019-01-06             ACTIVE NUTRITION  32.01                 5.04
1      2019-01-06                     AIR CARE   9.52                 0.00
2      2019-01-06                      ALLERGY  35.97                 0.00
3      2019-01-06  ANTI-PERSPIRANT & DEODORANT  18.18                 7.92
4      2019-01-06               APPLES & PEARS  68.02                10.80
...           ...                          ...    ...                  ...
197429 2020-12-31             WHIPPED TOPPINGS   4.95                 0.57
197430 2020-12-31                 WHITE BREADS   2.72                 4.31
197431 2020-12-31         WILD FISH W/O SALMON   7.46                 1.43
197432 2020-12-31                        YEAST   1.99                 4.26
197433 2020-12-31                       YOGURT  77.21                 4.60

        Week Ago Sales_cat  Yesterday Sales_deptcat  Week Ago Sales_deptcat  \
0                     5.04                     5.04                    5.04
1                     0.00                     0.00                    0.00
2                     0.00                     0.00                    0.00
3                     9.36                     7.92                    9.36
4                     7.92                    10.80                    7.92
...                    ...                      ...                     ...
197429                5.04                     5.04                     NaN
197430                1.72                     4.31                    1.72
197431                0.71                     1.43                    0.71
197432                3.95                     4.26                    3.95
197433                1.90                     4.60                    1.90

        quarter  weekno  dayofweek  year
0             3      37          6  2020
1             2      26          6  2020
2             2      26          6  2020
3             2      26          6  2020
4             2      26          6  2020
...         ...     ...        ...   ...
197429        1       2          4  2019
197430        1       2          4  2019
197431        4      52          1  2020
197432        4      52          1  2020
197433        4      52          1  2020

[197434 rows x 11 columns]>

In [68]:
WFD1.head(5)

,DATE_KEY,CATEGORY_NAME,SALES,Yesterday Sales_cat,Week Ago Sales_cat,Yesterday Sales_deptcat,Week Ago Sales_deptcat,quarter,weekno,dayofweek,year
0,2019-01-06,ACTIVE NUTRITION,32.01,5.04,5.04,5.04,5.04,3,37,6,2020
1,2019-01-06,AIR CARE,9.52,0.00,0.00,0.00,0.00,2,26,6,2020
2,2019-01-06,ALLERGY,35.97,0.00,0.00,0.00,0.00,2,26,6,2020
3,2019-01-06,ANTI-PERSPIRANT & DEODORANT,18.18,7.92,9.36,7.92,9.36,2,26,6,2020
4,2019-01-06,APPLES & PEARS,68.02,10.80,7.92,10.80,7.92,2,26,6,2020

In [69]:
WFD1.isna().sum()

DATE_KEY                     0
CATEGORY_NAME                0
SALES                        0
Yesterday Sales_cat        198
Week Ago Sales_cat         897
Yesterday Sales_deptcat    203
Week Ago Sales_deptcat     926
quarter                      0
weekno                       0
dayofweek                    0
year                         0
dtype: int64

In [70]:
WFD1['Yesterday Sales_cat'].fillna(0, inplace = True)
WFD1['Week Ago Sales_cat'].fillna(0, inplace = True)
WFD1['Yesterday Sales_deptcat'].fillna(0, inplace = True)
WFD1['Week Ago Sales_deptcat'].fillna(0, inplace = True)

In [71]:
from sklearn.metrics import mean_squared_error
def rmsle(ytrue, ypred):
    return np.sqrt(mean_squared_error(ytrue, ypred))

In [72]:
WFD1.groupby('CATEGORY_NAME')['SALES'].sum()

CATEGORY_NAME
ACCESSORIES                 19.35
ACTIVE NUTRITION          8105.02
AIR CARE                  3319.45
ALLERGY                   6802.34
ALMAY COSMETICS            286.98
                           ...
WOMEN'S HEALTH            1003.07
WONKA/WRIGLEY/NOVELTY      152.96
YEAST                      501.61
YOGURT                   46062.36
ZUZU                        12.94
Name: SALES, Length: 569, dtype: float64

In [73]:
import datetime
start_date = datetime.date(2019,1,14)
end_date = datetime.date(2019,10,25)
delta = datetime.timedelta(days=1)
windowdelta = datetime.timedelta(days=30)
dateidx = start_date

mean_error = []

while dateidx < end_date:
    #print(dateidx)
    train = WFD1[(WFD1['DATE_KEY'] < pd.Timestamp(dateidx)) & (WFD1['DATE_KEY'] > pd.Timestamp(dateidx - windowdelta))]
    val = WFD1[WFD1['DATE_KEY'] == pd.Timestamp(dateidx)]
    
    p = val['Yesterday Sales_cat'].values

    error = rmsle(val['SALES'].values, p)
 
    print('Day %s - Error %.5f' % (str(dateidx), error))
    mean_error.append(error)
    dateidx += delta
print('Mean Error = %.5f' % np.mean(mean_error))

Day 2019-01-14 - Error 21.68628
Day 2019-01-15 - Error 16.40447
Day 2019-01-16 - Error 20.77339
Day 2019-01-17 - Error 29.78793
Day 2019-01-18 - Error 42.34222
Day 2019-01-19 - Error 27.26716
Day 2019-01-20 - Error 10.47001
Day 2019-01-21 - Error 17.85448
Day 2019-01-22 - Error 90.22392
Day 2019-01-23 - Error 18.62585
Day 2019-01-24 - Error 15.19081
Day 2019-01-25 - Error 28.98435
Day 2019-01-26 - Error 32.70492
Day 2019-01-27 - Error 78.65974
Day 2019-01-28 - Error 20.92721
Day 2019-01-29 - Error 47.24344
Day 2019-01-30 - Error 16.61062
Day 2019-01-31 - Error 14.09843
Day 2019-02-01 - Error 61.08043
Day 2019-02-02 - Error 29.88638
Day 2019-02-03 - Error 32.54147
Day 2019-02-04 - Error 14.28020
Day 2019-02-05 - Error 18.10043
Day 2019-02-06 - Error 15.87914
Day 2019-02-07 - Error 15.43046
Day 2019-02-08 - Error 19.35903
Day 2019-02-09 - Error 28.07107
Day 2019-02-10 - Error 30.72396
Day 2019-02-11 - Error 73.80064
Day 2019-02-12 - Error 14.79753
Day 2019-02-13 - Error 39.67929
Day 2019-02-14 - Error 21.80541
Day 2019-02-15 - Error 14.70604
Day 2019-02-16 - Error 24.77965
Day 2019-02-17 - Error 30.79507
Day 2019-02-18 - Error 19.71038
Day 2019-02-19 - Error 27.50059
Day 2019-02-20 - Error 25.45126
Day 2019-02-21 - Error 17.64871
Day 2019-02-22 - Error 18.71869
Day 2019-02-23 - Error 27.39227
Day 2019-02-24 - Error 29.16028
Day 2019-02-25 - Error 32.90619
Day 2019-02-26 - Error 24.19031
Day 2019-02-27 - Error 67.04920
Day 2019-02-28 - Error 26.45630
Day 2019-03-01 - Error 24.76001
Day 2019-03-02 - Error 23.53303
Day 2019-03-03 - Error 35.62975
Day 2019-03-04 - Error 19.93779
Day 2019-03-05 - Error 16.29249
Day 2019-03-06 - Error 18.57161
Day 2019-03-07 - Error 14.79950
Day 2019-03-08 - Error 50.92999
Day 2019-03-09 - Error 27.81453
Day 2019-03-10 - Error 28.06413
Day 2019-03-11 - Error 65.39015
Day 2019-03-12 - Error 91.08188
Day 2019-03-13 - Error 28.19946
Day 2019-03-14 - Error 71.90536
Day 2019-03-15 - Error 61.15581
Day 2019-03-16 - Error 27.89866
Day 2019-03-17 - Error 35.52255
Day 2019-03-18 - Error 17.04643
Day 2019-03-19 - Error 20.02583
Day 2019-03-20 - Error 23.75391
Day 2019-03-21 - Error 27.86738
Day 2019-03-22 - Error 19.66612
Day 2019-03-23 - Error 28.01561
Day 2019-03-24 - Error 27.62592
Day 2019-03-25 - Error 23.35467
Day 2019-03-26 - Error 59.14378
Day 2019-03-27 - Error 12.14244
Day 2019-03-28 - Error 14.93986
Day 2019-03-29 - Error 17.64699
Day 2019-03-30 - Error 26.60075
Day 2019-03-31 - Error 30.53896
Day 2019-04-01 - Error 19.21985
Day 2019-04-02 - Error 20.32784
Day 2019-04-03 - Error 20.44455
Day 2019-04-04 - Error 18.23818
Day 2019-04-05 - Error 31.46246
Day 2019-04-06 - Error 26.94014
Day 2019-04-07 - Error 50.88650
Day 2019-04-08 - Error 64.46808
Day 2019-04-09 - Error 24.48083
Day 2019-04-10 - Error 18.77803
Day 2019-04-11 - Error 15.03007
Day 2019-04-12 - Error 20.27654
Day 2019-04-13 - Error 24.78088
Day 2019-04-14 - Error 34.42685
Day 2019-04-15 - Error 31.04378
Day 2019-04-16 - Error 20.25675
Day 2019-04-17 - Error 31.96490
Day 2019-04-18 - Error 24.65215
Day 2019-04-19 - Error 24.93646
Day 2019-04-20 - Error 50.20419
Day 2019-04-21 - Error 19.95189
Day 2019-04-22 - Error 83.00540
Day 2019-04-23 - Error 17.71045
Day 2019-04-24 - Error 14.89865
Day 2019-04-25 - Error 25.13328
Day 2019-04-26 - Error 23.02344
Day 2019-04-27 - Error 106.94954
Day 2019-04-28 - Error 30.66839
Day 2019-04-29 - Error 26.58516
Day 2019-04-30 - Error 25.55101
Day 2019-05-01 - Error 19.42223
Day 2019-05-02 - Error 18.99503
Day 2019-05-03 - Error 30.15818
Day 2019-05-04 - Error 27.92486
Day 2019-05-05 - Error 31.89267
Day 2019-05-06 - Error 19.67631
Day 2019-05-07 - Error 33.11177
Day 2019-05-08 - Error 22.32431
Day 2019-05-09 - Error 19.08874
Day 2019-05-10 - Error 55.00339
Day 2019-05-11 - Error 29.90356
Day 2019-05-12 - Error 28.45699
Day 2019-05-13 - Error 20.56433
Day 2019-05-14 - Error 32.57517
Day 2019-05-15 - Error 14.90273
Day 2019-05-16 - Error 16.05804
Day 2019-05-17 - Error 18.69271
Day 2019-05-18 - Error 28.18027
Day 2019-05-19 - Error 29.91851
Day 2019-05-20 - Error 21.14393
Day 2019-05-21 - Error 18.18331
Day 2019-05-22 - Error 17.48802
Day 2019-05-23 - Error 20.00065
Day 2019-05-24 - Error 23.85636
Day 2019-05-25 - Error 88.18746
Day 2019-05-26 - Error 29.04373
Day 2019-05-27 - Error 25.78018
Day 2019-05-28 - Error 25.95411
Day 2019-05-29 - Error 17.31023
Day 2019-05-30 - Error 17.57044
Day 2019-05-31 - Error 31.15146
Day 2019-06-01 - Error 76.81096
Day 2019-06-02 - Error 31.41054
Day 2019-06-03 - Error 19.52648
Day 2019-06-04 - Error 19.64038
Day 2019-06-05 - Error 25.65982
Day 2019-06-06 - Error 56.45405
Day 2019-06-07 - Error 37.18748
Day 2019-06-08 - Error 34.72906
Day 2019-06-09 - Error 30.89912
Day 2019-06-10 - Error 146.74530
Day 2019-06-11 - Error 18.58776
Day 2019-06-12 - Error 17.35295
Day 2019-06-13 - Error 19.63978
Day 2019-06-14 - Error 25.18002
Day 2019-06-15 - Error 30.83111
Day 2019-06-16 - Error 29.92963
Day 2019-06-17 - Error 19.34096
Day 2019-06-18 - Error 17.26589
Day 2019-06-19 - Error 20.13676
Day 2019-06-20 - Error 18.47324
Day 2019-06-21 - Error 71.14461
Day 2019-06-22 - Error 24.64845
Day 2019-06-23 - Error 30.66095
Day 2019-06-24 - Error 55.38330
Day 2019-06-25 - Error 33.96573
Day 2019-06-26 - Error 17.16552
Day 2019-06-27 - Error 62.50217
Day 2019-06-28 - Error 25.96961
Day 2019-06-29 - Error 24.37495
Day 2019-06-30 - Error 29.36671
Day 2019-07-01 - Error 21.56542
Day 2019-07-02 - Error 24.58609
Day 2019-07-03 - Error 30.49540
Day 2019-07-04 - Error 26.39499
Day 2019-07-05 - Error 38.13818
Day 2019-07-06 - Error 24.19356
Day 2019-07-07 - Error 28.05352
Day 2019-07-08 - Error 22.11281
Day 2019-07-09 - Error 26.71701
Day 2019-07-10 - Error 38.76469
Day 2019-07-11 - Error 20.88774
Day 2019-07-12 - Error 35.18246
Day 2019-07-13 - Error 30.89306
Day 2019-07-14 - Error 29.08650
Day 2019-07-15 - Error 26.55295
Day 2019-07-16 - Error 65.41916
Day 2019-07-17 - Error 20.24360
Day 2019-07-18 - Error 19.31068
Day 2019-07-19 - Error 39.08871
Day 2019-07-20 - Error 21.84012
Day 2019-07-21 - Error 24.69809
Day 2019-07-22 - Error 19.73393
Day 2019-07-23 - Error 21.92790
Day 2019-07-24 - Error 16.33345
Day 2019-07-25 - Error 43.48874
Day 2019-07-26 - Error 29.11621
Day 2019-07-27 - Error 30.12559
Day 2019-07-28 - Error 27.09372
Day 2019-07-29 - Error 23.17411
Day 2019-07-30 - Error 18.39612
Day 2019-07-31 - Error 602.79329
Day 2019-08-01 - Error 18.41702
Day 2019-08-02 - Error 22.33162
Day 2019-08-03 - Error 33.05975
Day 2019-08-04 - Error 28.70295
Day 2019-08-05 - Error 20.52143
Day 2019-08-06 - Error 16.30551
Day 2019-08-07 - Error 17.65603
Day 2019-08-08 - Error 21.87462
Day 2019-08-09 - Error 32.84147
Day 2019-08-10 - Error 67.70155
Day 2019-08-11 - Error 25.52124
Day 2019-08-12 - Error 38.10655
Day 2019-08-13 - Error 58.91033
Day 2019-08-14 - Error 18.07247
Day 2019-08-15 - Error 16.90554
Day 2019-08-16 - Error 19.52590
Day 2019-08-17 - Error 20.88692
Day 2019-08-18 - Error 28.14296
Day 2019-08-19 - Error 28.58752
Day 2019-08-20 - Error 15.66064
Day 2019-08-21 - Error 78.56806
Day 2019-08-22 - Error 73.24551
Day 2019-08-23 - Error 42.76710
Day 2019-08-24 - Error 24.37885
Day 2019-08-25 - Error 51.43642
Day 2019-08-26 - Error 23.59677
Day 2019-08-27 - Error 30.46429
Day 2019-08-28 - Error 17.03018
Day 2019-08-29 - Error 20.32790
Day 2019-08-30 - Error 25.12008
Day 2019-08-31 - Error 22.24040
Day 2019-09-01 - Error 24.36942
Day 2019-09-02 - Error 25.11871
Day 2019-09-03 - Error 42.05705
Day 2019-09-04 - Error 26.14207
Day 2019-09-05 - Error 17.36908
Day 2019-09-06 - Error 19.87222
Day 2019-09-07 - Error 25.08571
Day 2019-09-08 - Error 28.61125
Day 2019-09-09 - Error 57.32286
Day 2019-09-10 - Error 14.49147
Day 2019-09-11 - Error 37.88571
Day 2019-09-12 - Error 17.33556
Day 2019-09-13 - Error 23.73807
Day 2019-09-14 - Error 40.90545
Day 2019-09-15 - Error 28.44161
Day 2019-09-16 - Error 32.21356
Day 2019-09-17 - Error 15.50746
Day 2019-09-18 - Error 17.12659
Day 2019-09-19 - Error 17.41039
Day 2019-09-20 - Error 51.48667
Day 2019-09-21 - Error 30.24224
Day 2019-09-22 - Error 30.30009
Day 2019-09-23 - Error 19.40676
Day 2019-09-24 - Error 16.97278
Day 2019-09-25 - Error 15.96238
Day 2019-09-26 - Error 89.42995
Day 2019-09-27 - Error 19.15366
Day 2019-09-28 - Error 25.81590

Day 2019-09-29 - Error 28.27946
Day 2019-09-30 - Error 17.87269
Day 2019-10-01 - Error 22.63307
Day 2019-10-02 - Error 29.23525
Day 2019-10-03 - Error 18.31351
Day 2019-10-04 - Error 41.24079
Day 2019-10-05 - Error 24.65637
Day 2019-10-06 - Error 28.48643
Day 2019-10-07 - Error 21.37137
Day 2019-10-08 - Error 14.96313
Day 2019-10-09 - Error 15.17866
Day 2019-10-10 - Error 18.40226
Day 2019-10-11 - Error 19.89303
Day 2019-10-12 - Error 24.99613
Day 2019-10-13 - Error 26.33348
Day 2019-10-14 - Error 20.42932
Day 2019-10-15 - Error 20.24241
Day 2019-10-16 - Error 20.42974
Day 2019-10-17 - Error 15.97223
Day 2019-10-18 - Error 21.47458
Day 2019-10-19 - Error 31.17001
Day 2019-10-20 - Error 25.03133
Day 2019-10-21 - Error 22.39989
Day 2019-10-22 - Error 17.44548
Day 2019-10-23 - Error 17.34042
Day 2019-10-24 - Error 35.69756
Mean Error = 31.71123

In [75]:
le = preprocessing.LabelEncoder()
le.fit(WFD1['CATEGORY_NAME'])
WFD1['CATCODES'] = le.transform(WFD1['CATEGORY_NAME'])

In [76]:
WFD1.head(5)

,DATE_KEY,CATEGORY_NAME,SALES,Yesterday Sales_cat,Week Ago Sales_cat,Yesterday Sales_deptcat,Week Ago Sales_deptcat,quarter,weekno,dayofweek,year,CATCODES
0,2019-01-06,ACTIVE NUTRITION,32.01,5.04,5.04,5.04,5.04,3,37,6,2020,1
1,2019-01-06,AIR CARE,9.52,0.00,0.00,0.00,0.00,2,26,6,2020,2
2,2019-01-06,ALLERGY,35.97,0.00,0.00,0.00,0.00,2,26,6,2020,3
3,2019-01-06,ANTI-PERSPIRANT & DEODORANT,18.18,7.92,9.36,7.92,9.36,2,26,6,2020,7
4,2019-01-06,APPLES & PEARS,68.02,10.80,7.92,10.80,7.92,2,26,6,2020,8

In [ ]:
##SPLIT DATA INTO TRAIN/TEST BY YEAR
train = WFD.loc[WFD['year'] == '2019'] 
test = WFD.loc[WFD['year'] == '2020']

In [ ]:
##Mean Encoding
WFD1['item_sold_avg'] = WFD.groupby('ITEM_DESCRIPTION')['SALES'].transform('mean').astype(np.float16)
WFD1['class_sold_avg'] = WFD.groupby('CLASS_NAME')['SALES'].transform('mean').astype(np.float16)
WFD1['location_avg'] = WFD.groupby('LOCATION_NBR')['SALES'].transform('mean').astype(np.float16)
WFD1['cat_sold_avg'] = WFD.groupby('CATEGORY_NAME')['SALES'].transform('mean').astype(np.float16)
WFD1['dept_sold_avg'] = WFD.groupby('DEPARTMENT_NAME')['SALES'].transform('mean').astype(np.float16)
WFD1['cat_dept_sold_avg'] = WFD.groupby(['CATEGORY_NAME','DEPARTMENT_NAME'])['SALES'].transform('mean').astype(np.float16)
WFD1['location_item_sold_avg'] = WFD.groupby(['LOCATION_NBR','ITEM_DESCRIPTION'])['SALES'].transform('mean').astype(np.float16)
WFD1['cat_item_sold_avg'] = WFD.groupby(['CATEGORY_NAME','ITEM_DESCRIPTION'])['SALES'].transform('mean').astype(np.float16)
WFD1['dept_item_sold_avg'] = WFD.groupby(['DEPARTMENT_NAME','ITEM_DESCRIPTION'])['SALES'].transform('mean').astype(np.float16)
WFD1['class_location_avg'] = WFD.groupby(['CLASS_NAME','LOCATION_NBR'])['SALES'].transform('mean').astype(np.float16)
WFD1['class_location_cat_sold_avg'] = WFD.groupby(['CLASS_NAME','LOCATION_NBR','CATEGORY_NAME'])['SALES'].transform('mean').astype(np.float16)
WFD1['location_cat_dept_sold_avg'] = WFD.groupby(['LOCATION_NBR','CATEGORY_NAME','DEPARTMENT_NAME'])['SALES'].transform('mean').astype(np.float16)