In [1]:
import pandas as pd
import numpy as np

In [2]:
## Mind's Directory
mydir = "/Users/ptienpasertkij/Documents/RIT/Summer 2021/BANA785/All Data Files/"
## Adit's Directory
## mydir = **INSERT DIRECTORY**
## Christine's Directory
## mydir = **INSERT DIRECTORY**

customerData = mydir + "Wegmans Customer Data without NA.csv"
customerDataFull = mydir + "Wegmans Customer Data with NA Replaced.csv"
itemData = mydir + "Wegmans Item Data.csv"
salesData = mydir + "Wegmans Sales Data Clean.csv"
customer = pd.read_csv(customerData)
customerFull = pd.read_csv(customerDataFull)
item = pd.read_csv(itemData)
sales = pd.read_csv(salesData)

In [3]:
customer

      CUSTOMER_ID  HOUSEHOLD_ID  HOH_AGE  HH_INCOME  HH_CHILDREN
0            2767          2767    106.0   100000.0          0.0
1            4111          4111     58.0    30000.0          1.0
2            1423          1423     79.0    30000.0          1.0
3            4687          3801     63.0   100000.0          1.0
4            6415          1244     49.0    40000.0          1.0
...           ...           ...      ...        ...          ...
6109         2449          2449     41.0    30000.0          0.0
6110         2065          2065     35.0    10000.0          2.0
6111         4753          1187     50.0    30000.0          1.0
6112         5905          3514     57.0    40000.0          0.0
6113         5713          1114     62.0    30000.0          2.0

[6114 rows x 5 columns]

In [4]:
customerFull

      CUSTOMER_ID  HOUSEHOLD_ID  HOH_AGE  HH_INCOME  HH_CHILDREN
0            2767          2767    106.0  100000.00          0.0
1            4111          4111     58.0   30000.00          1.0
2             655           655     67.0   66348.11          1.0
3            1999          1999     56.0   66348.11          1.0
4            1423          1423     79.0   30000.00          1.0
...           ...           ...      ...        ...          ...
7043         2065          2065     35.0   10000.00          2.0
7044         4753          1187     50.0   30000.00          1.0
7045         5905          3514     57.0   40000.00          0.0
7046         5713          1114     62.0   30000.00          2.0
7047          145           145     50.0   66348.11          1.0

[7048 rows x 5 columns]

In [5]:
item

,ITEM_NBR,ITEM_DESCRIPTION,PRODUCT_HIERARCHY,DEPARTMENT_NAME,CATEGORY_NAME,CLASS_NAME,IS_ORGANIC,IS_FAMILYPACK,IS_WEGMANSBRAND
0,332005,ARR-CENTERPIECE W 3 CANDL 1 EA,42-60-02,FLORAL,ARRANGEMENTS,FOAM ARRANGEMENTS,0,0,1
1,424488,"Scunci U Got This Upzing, Double Combs 1 EA",18-13-25,HEALTH & BEAUTY CARE,HAIR ACCESSORIES,FASHION ACCESSORIES,0,0,0
2,213936,Signature Bouquet 1 EA,42-30-01,FLORAL,BOUQUETS,FRESH BOUQUETS,0,0,1
3,336252,"Yoplait Original Yogurt, Low Fat, Harvest Peac...",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,0
4,596609,papyTissue 8 CT,45-20-40,CARD DEPARTMENT,CARD SHOP GIFT WRAP,TISSUE PAPER,0,0,0
...,...,...,...,...,...,...,...,...,...
87248,37028,"Wegmans Cheese, Sharp Cheddar, Shredded, FAMI...",02-17-10,DAIRY,SHREDDED CHEESE,TRADITIONAL SHREDDED CHEESE,0,1,1
87249,2816,Altman's Lunch Herring 13 OZ,02-70-02,DAIRY,KOSHER DAIRY,HERRING/SEAFOOD,0,0,0
87250,28954,"Organic Cherry Tomato 4"" 1 EA",03-01-18,PRODUCE,WEGMANS ORGANIC FARM,WOF LIVE PLANTS,1,0,1
87251,16411,"Wegmans Organic Spinach & Spring Mix, FAMILY P...",03-13-42,PRODUCE,SALADS AND SALAD KITS,ORG SALAD BLENDS,1,1,1
87252,36066,Wegmans Baby Purple Potatoes 24 OZ,03-51-01,PRODUCE,POTATOES & ONIONS,BAGGED POTATOES,0,0,1

In [6]:
sales

,TRANSACTION_KEY,DATE_KEY,CUSTOMER_ID,ITEM_NBR,UNITS,WEIGHT,SALES
0,1,7/21/19,96,45177,1,0.0,0.24
1,1,7/21/19,96,607378,1,0.0,0.86
2,2,1/20/19,590,36353,1,0.0,7.19
3,3,11/7/19,1807,12663,1,0.0,1.43
4,4,3/20/19,1832,125639,1,0.0,0.71
...,...,...,...,...,...,...,...
1048570,82334,10/16/20,6682,43637,1,0.0,1.43
1048571,82490,12/8/20,3885,814129,1,0.0,0.66
1048572,82522,5/1/19,2448,580573,1,0.0,4.31
1048573,81411,5/1/20,696,10259,1,0.0,2.15
1048574,82491,5/1/20,3042,6918,1,0.0,2.15

In [7]:
salesItem = pd.merge(sales, item, on="ITEM_NBR")
salesItem

,TRANSACTION_KEY,DATE_KEY,CUSTOMER_ID,ITEM_NBR,UNITS,WEIGHT,SALES,ITEM_DESCRIPTION,PRODUCT_HIERARCHY,DEPARTMENT_NAME,CATEGORY_NAME,CLASS_NAME,IS_ORGANIC,IS_FAMILYPACK,IS_WEGMANSBRAND
0,1,7/21/19,96,45177,1,0.00,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1
1,923,7/29/20,1737,45177,2,0.00,0.48,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1
2,4101,12/8/19,2745,45177,2,0.00,0.48,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1
3,6964,3/17/19,747,45177,3,0.00,0.71,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1
4,7371,1/5/20,88,45177,1,0.00,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,274856,12/9/19,4066,629915,1,0.00,3.59,Ag christmas card $4.99 1 EA,45-10-30,CARD DEPARTMENT,GREETING CARDS,SEASONAL CARDS: PRIMARY VENDOR,0,0,0
1048571,81694,12/23/20,4191,836775,1,0.00,1.43,"Bag, Oven Turkey 2 CT",04-72-30,GROCERY,"FOIL, WRAPS & FOOD STORAGE",ASSORTED PRODUCTS,0,0,0
1048572,81255,5/18/20,1810,814582,1,0.00,10.79,"Cetaphil Daily Facial Moisturizer, with Sunsc...",18-22-15,HEALTH & BEAUTY CARE,FACIAL CARE,FACIAL MOISTURIZERS,0,0,0
1048573,82193,2/21/19,3918,425883,1,0.05,3.16,Wegmans Organic Loose Leaf Silver Needle White...,04-34-95,GROCERY,TEA,BULK TEA,1,0,1
1048574,82490,12/8/20,3885,814129,1,0.00,0.66,"Polar Bear, Play Pack 1 EA",10-90-86,GM BASIC PRODUCTS DEPARTMENT,TOYS & GAMES,COMPOUNDS AND CRAFT TOYS,0,0,0

In [8]:
salesItem.to_csv('Wegmans Sales Item.csv', index=False)

In [9]:
salesCustomers = pd.merge(sales, customer, on="CUSTOMER_ID")
salesCustomers

,TRANSACTION_KEY,DATE_KEY,CUSTOMER_ID,ITEM_NBR,UNITS,WEIGHT,SALES,HOUSEHOLD_ID,HOH_AGE,HH_INCOME,HH_CHILDREN
0,1,7/21/19,96,45177,1,0.0,0.24,96,67.0,75000.0,0.0
1,1,7/21/19,96,607378,1,0.0,0.86,96,67.0,75000.0,0.0
2,1,7/21/19,96,124363,1,0.0,1.29,96,67.0,75000.0,0.0
3,1,7/21/19,96,616770,1,0.0,2.87,96,67.0,75000.0,0.0
4,1477,5/10/20,96,767937,2,0.0,4.31,96,67.0,75000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
994937,269878,12/23/20,5568,781876,0,0.0,1.08,1467,38.0,50000.0,0.0
994938,131477,6/21/19,3252,508571,1,0.0,2.51,3252,71.0,75000.0,0.0
994939,271205,3/3/20,5633,390234,1,0.0,9.35,2336,29.0,75000.0,2.0
994940,271205,3/3/20,5633,68773,1,0.0,1.79,2336,29.0,75000.0,2.0
994941,50252,3/2/20,5633,559644,1,0.0,6.47,2336,29.0,75000.0,2.0

In [10]:
salesCustomers.to_csv('Wegmans Sales Customer.csv', index=False)

In [11]:
salesCustomersFull = pd.merge(sales, customerFull, on="CUSTOMER_ID")
salesCustomersFull

,TRANSACTION_KEY,DATE_KEY,CUSTOMER_ID,ITEM_NBR,UNITS,WEIGHT,SALES,HOUSEHOLD_ID,HOH_AGE,HH_INCOME,HH_CHILDREN
0,1,7/21/19,96,45177,1,0.0,0.24,96,67.0,75000.00,0.0
1,1,7/21/19,96,607378,1,0.0,0.86,96,67.0,75000.00,0.0
2,1,7/21/19,96,124363,1,0.0,1.29,96,67.0,75000.00,0.0
3,1,7/21/19,96,616770,1,0.0,2.87,96,67.0,75000.00,0.0
4,1477,5/10/20,96,767937,2,0.0,4.31,96,67.0,75000.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1048570,271205,3/3/20,5633,390234,1,0.0,9.35,2336,29.0,75000.00,2.0
1048571,271205,3/3/20,5633,68773,1,0.0,1.79,2336,29.0,75000.00,2.0
1048572,50252,3/2/20,5633,559644,1,0.0,6.47,2336,29.0,75000.00,2.0
1048573,274433,11/6/19,364,540220,1,0.0,1.80,364,71.0,66348.11,1.0
1048574,274433,11/6/19,364,28042,2,0.0,2.15,364,71.0,66348.11,1.0

In [12]:
salesCustomersFull.to_csv('Wegmans Sales Customer Full.csv', index=False)

In [13]:
allData = pd.merge(salesItem, customer, on="CUSTOMER_ID")
allData

,TRANSACTION_KEY,DATE_KEY,CUSTOMER_ID,ITEM_NBR,UNITS,WEIGHT,SALES,ITEM_DESCRIPTION,PRODUCT_HIERARCHY,DEPARTMENT_NAME,CATEGORY_NAME,CLASS_NAME,IS_ORGANIC,IS_FAMILYPACK,IS_WEGMANSBRAND,HOUSEHOLD_ID,HOH_AGE,HH_INCOME,HH_CHILDREN
0,1,7/21/19,96,45177,1,0.00,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.0,0.0
1,15158,7/28/19,96,45177,1,0.00,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.0,0.0
2,39222,3/22/20,96,45177,1,0.00,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.0,0.0
3,101617,1/20/19,96,45177,1,0.00,0.36,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.0,0.0
4,143713,10/13/19,96,45177,1,0.00,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994937,268429,6/30/19,1875,779808,1,0.00,12.23,Corona Mexican Spiked Refresher Cans 12/12 oz...,51-70-20,BEER & WINE COOLERS,FLAVORED ALCOHOLIC BEVERAGES,FAB 12 PACKS,0,0,0,1875,56.0,50000.0,1.0
994938,176095,8/8/19,6375,596801,-1,0.00,-2.58,"U Create Construction Paper, Assorted Colors ...",10-36-40,GM BASIC PRODUCTS DEPARTMENT,CRAFT SUPPLIES,ART PAPER,0,0,0,2051,34.0,20000.0,1.0
994939,185746,11/30/19,5804,794857,1,0.33,1.43,JV MC Coffee Beans 1 LB,67-10-05,BULK FOODS,CHOCOLATES,UNWRAPPED CHOCOLATES,0,0,1,2219,58.0,100000.0,0.0
994940,257889,1/7/19,6270,704418,1,0.00,0.36,Tartan lunch napkin 16 CT,82-18-80,GM SEASONAL MERCHANDISE,SEASONAL &HOLIDAY PARTY SUPPLY,PARTY SUPPLIES: CHRISTMAS,0,0,0,3248,73.0,50000.0,1.0
994941,234734,2/16/19,4549,749141,1,0.00,6.83,Blue Point Brewing Company Citrus Plunge IPA ...,51-40-10,BEER & WINE COOLERS,CRAFT BEER,CRAFT 6 PACKS,0,0,0,3316,63.0,125000.0,1.0

In [14]:
allData.to_csv('Wegmans All Data.csv', index=False)

In [15]:
allDataFull = pd.merge(salesItem, customerFull, on="CUSTOMER_ID")
allDataFull

,TRANSACTION_KEY,DATE_KEY,CUSTOMER_ID,ITEM_NBR,UNITS,WEIGHT,SALES,ITEM_DESCRIPTION,PRODUCT_HIERARCHY,DEPARTMENT_NAME,CATEGORY_NAME,CLASS_NAME,IS_ORGANIC,IS_FAMILYPACK,IS_WEGMANSBRAND,HOUSEHOLD_ID,HOH_AGE,HH_INCOME,HH_CHILDREN
0,1,7/21/19,96,45177,1,0.00,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.00,0.0
1,15158,7/28/19,96,45177,1,0.00,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.00,0.0
2,39222,3/22/20,96,45177,1,0.00,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.00,0.0
3,101617,1/20/19,96,45177,1,0.00,0.36,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.00,0.0
4,143713,10/13/19,96,45177,1,0.00,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,176095,8/8/19,6375,596801,-1,0.00,-2.58,"U Create Construction Paper, Assorted Colors ...",10-36-40,GM BASIC PRODUCTS DEPARTMENT,CRAFT SUPPLIES,ART PAPER,0,0,0,2051,34.0,20000.00,1.0
1048571,185746,11/30/19,5804,794857,1,0.33,1.43,JV MC Coffee Beans 1 LB,67-10-05,BULK FOODS,CHOCOLATES,UNWRAPPED CHOCOLATES,0,0,1,2219,58.0,100000.00,0.0
1048572,257889,1/7/19,6270,704418,1,0.00,0.36,Tartan lunch napkin 16 CT,82-18-80,GM SEASONAL MERCHANDISE,SEASONAL &HOLIDAY PARTY SUPPLY,PARTY SUPPLIES: CHRISTMAS,0,0,0,3248,73.0,50000.00,1.0
1048573,234734,2/16/19,4549,749141,1,0.00,6.83,Blue Point Brewing Company Citrus Plunge IPA ...,51-40-10,BEER & WINE COOLERS,CRAFT BEER,CRAFT 6 PACKS,0,0,0,3316,63.0,125000.00,1.0
1048574,269862,11/22/19,6233,733479,1,0.00,7.91,Springhouse Big Gruesome 72 FO,51-40-10,BEER & WINE COOLERS,CRAFT BEER,CRAFT 6 PACKS,0,0,0,3251,71.0,66348.11,1.0

In [16]:
allDataFull.to_csv('Wegmans All Data Full.csv', index=False)